@use "../../styles/abstracts" as *;

.banner {
  position: relative;
  color: #fff;

  img {
    width: 100%;
  }

  .banner-content {
    position: absolute;
    inset: 0;
    text-align: center;
    @include flex(column, center, center);
    background-color: rgba($clr-accent-darkblue, 0.7);

    span {
      color: $primary-color;
    }
  }
}
