@use "../../styles/abstracts" as *;

.btn {
  border: none;
  display: inline-block;
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-family: $font-oswald;
}

.btn-blue-pink {
  @include btn-slide(
    $bg1: $clr-tiffany-blue,
    $bg2: $clr-tart-orange,
    $txt1: $clr-white,
    $txt2: $clr-white
  );
}

.btn-pink-darkblue {
  @include btn-slide(
    $bg1: $clr-tart-orange,
    $bg2: $clr-police-blue,
    $txt1: $clr-white,
    $txt2: $clr-white
  );
}

.btn-white-blue {
  @include btn-slide(
    $bg1: $clr-white,
    $bg2: $clr-tiffany-blue,
    $txt1: $clr-tart-orange,
    $txt2: $clr-white
  );
}

.btn-simple-blue {
  background-color: $clr-white;
  color: $clr-police-blue;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10s rgba(0, 0, 0, 0.7);
  text-transform: none;
  font-family: $font-open-sans;
  letter-spacing: normal;

  &.active,
  &:hover {
    background-color: $clr-tiffany-blue;
    color: $clr-white;
  }
}

.btn-special-pink {
  @include btn-slide(
    $clr-white,
    $clr-tart-orange,
    $clr-tart-orange,
    $clr-white
  );
  border: 1px solid $clr-tart-orange;
}

.btn-grey-blue {
  @include btn-slide(
    $clr-pastel-blue,
    $clr-tiffany-blue,
    $clr-white,
    $clr-white
  );
}
