@use "../abstracts" as *;

.expert {
  .slide {
    background-color: $clr-alice-blue;
    width: 100%;

    div {
      height: 3.75rem;
      overflow: hidden;
      background-color: $clr-alice-blue;
      transition: transform 0.3s ease-in-out;
    }

    p {
      color: $clr-tart-orange;
    }

    .btn {
      @include btn-slide($clr-police-blue, $clr-tiffany-blue);
    }
  }

  &:hover .slide div {
    transform: translateY(-3rem);
    overflow: visible;
  }
}
