@use "../abstracts" as *;

.expert-list {
  @include flex(column, $cross: center);
  text-align: center;

  .experts {
    @include grid;

    .expert {
      .slide {
        background-color: $clr-alice-blue;
        width: 100%;

        div {
          height: 3.75rem;
          overflow: hidden;
          background-color: $clr-alice-blue;
          transition: transform 0.3s ease-in-out;
        }

        p {
          color: $clr-tart-orange;
        }
      }

      &:hover .slide div {
        transform: translateY(-3rem);
        overflow: visible;
      }
    }

    @media (min-width: 576px) {
      @include grid(repeat(3, 1fr));
    }
  }
}
