@use "../../styles/abstracts" as *;

.navbar {
  // @include flex;
  background-color: $clr-tiffany-blue;
  color: $clr-white;
  transition: all 1s ease;
  font-family: "Oswald", sans-serif;

  .logo {
    @include flex(row, center, center);
    background-color: $clr-white;

    img {
      width: 100%;
      padding: 0.5rem;
    }

    .toggle {
      font-size: 1.5rem;
      cursor: pointer;
      margin: 1rem;
      display: none;

      &.true {
        color: $clr-police-blue;
      }
    }

    @media (max-width: 72.5em) {
      background-color: transparent;
      width: 100%;
      @include flex(row, space-between, center);

      .toggle {
        display: block;
      }

      a {
        background-color: $clr-white;
      }
    }
  }

  .navlist {
    @include flex(row, space-between, center);
    width: 100%;

    ul {
      @include flex;
      gap: 1rem;
      padding: 0.5rem 1rem;
    }

    li {
      transition: all 0.4s ease;

      &:hover {
        color: $clr-police-blue;
      }
    }

    .active {
      color: $clr-police-blue;
    }

    .phone {
      justify-content: end;
    }

    > div {
      @include flex(row, center, center, 0);

      .logout {
        @include flex(column, center, center, 0.5rem);
        padding: 0.5rem;

        a {
          background-color: $clr-police-blue;
          text-align: center;
          padding: 0.25rem 0.5rem;
          border-radius: $rounded;
        }

        button {
          width: max-content;
        }
      }

      @media (max-width: 72.5em) {
        flex-direction: column;
        gap: 0;
      }
    }

    @media (max-width: 72.5em) {
      position: absolute;
      top: 3.5rem;
      z-index: 10000;
      background-color: inherit;
    }

    @media (max-width: 72.5em) {
      gap: 0;

      &.false {
        display: none;
      }

      &.true {
        flex-direction: column;

        .big-screen-only {
          display: none;
        }

        ul {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  @media (min-width: 72.5em) {
    display: flex;
  }
}
