@use "../../styles/abstracts" as *;

.note {
  background-color: $clr-tiffany-blue;
  color: #fff;
  display: flex;
  padding: 1rem;
  display: flex;
  align-items: flex-start;

  svg {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    // transform: translateY(-5px);
  }

  a {
    color: $clr-police-blue;
  }
}
