@use "../../styles/abstracts" as *;

.search-box {
  background-color: $clr-white;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  > * {
    padding: 1rem;
  }

  .input {
    @include flex;

    input {
      width: 100%;
      padding: 0.25rem 0.5rem;
      border: 1px solid;
      border-radius: 0.25rem;
      transition: border 0.3s ease-out;

      &:focus {
        border-color: $clr-tiffany-blue;
      }
    }
  }
}
