@use "../../styles/abstracts" as *;

.search-box {
  background-color: #fff;
  margin-block: 3.125rem;
  padding: 1rem;
  color: $clr-police-blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  > * {
    padding: 1rem;
  }

  .input {
    display: flex;
    gap: 1rem;

    input {
      width: 100%;
      padding: 0.25rem 0.5rem;
      outline: none;
      border: 1px solid black;
      border-radius: 0.25rem;
      transition: border 0.3s ease-out;

      &:focus {
        border-color: $clr-tiffany-blue;
      }
    }
  }
}
