@use "../../../../styles/abstracts" as *;

.blog-item {
  box-shadow: 0 0 10px rgba($clr-black, 0.7);
  background-color: $clr-white;

  img {
    width: 100%;
  }

  .blog-content {
    padding: 1rem;

    .blog-date {
      color: $clr-tart-orange;
    }

    .blog-title {
      a {
        color: $clr-tiffany-blue;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $clr-tart-orange;
        }
      }
    }

    .blog-text {
      color: $clr-police-blue;
    }
  }
}
