@use "./abstracts" as *;

.btn {
  border: none;
  display: block;
  width: fit-content;
  margin-inline: auto;
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

.flex {
  @include flex;
}

.grid {
  @include grid;
}
