@use "./abstracts" as *;

.btn {
  border: none;
  display: inline-block;
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.container {
  width: min(90%, 960px);
  margin: 3.125rem auto;
}

.flex {
  @include flex;
}

.grid {
  @include grid;
}
