@use "../../../styles/abstracts" as *;

.services-content {
  padding-block: 50px;
  background-color: $clr-accent-grey;

  .services-content-heading {
    color: $clr-accent-darkblue;
    text-align: center;
  }

  .services-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: $primary-color;
    font-weight: bold;
    padding: 1rem;
    gap: 1rem;

    .services-card {
      background-color: #fff;
      transition: transform 0.4s ease-in-out;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      a {
        padding: 2rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
