@use "../../../styles/abstracts" as *;

.home-blog {
  @include flex(column, $cross: center);
  color: $clr-police-blue;
  padding: 1rem;

  > :nth-child(1),
  > :nth-child(2) {
    padding-inline: 1rem;
  }

  .home-blog-list {
    @include flex;

    .home-blog-item {
      @include flex(column);
      background-color: $clr-alice-blue;

      a,
      p {
        margin-inline: 1rem;
      }

      a {
        transition: all 0.4s ease-in-out;

        &:hover {
          color: $clr-tart-orange;
        }
      }

      p {
        color: $clr-tart-orange;
        margin-bottom: 1rem;
      }
    }
  }

  button {
    width: max-content;
    margin-inline: auto;
  }
}

@media (max-width: 576px) {
  .home-blog {
    .home-blog-list {
      flex-direction: column;
    }
  }
}
