@use "../../../styles/abstracts" as *;
@forward "./PostList";

.blog-suggestions {
  @include flex;
  color: $clr-police-blue;

  > * {
    padding: 1rem;
  }

  h2 {
    padding-block: 1rem;
  }

  .post-categories {
    @include flex(column);
    gap: 1rem;
    padding-block: 1rem;

    a {
      color: $clr-police-blue;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $clr-tiffany-blue;
      }
    }
  }

  .post-tags {
    @include flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-block: 1rem;

    button {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
  }
}

@media (max-width: 1000px) {
  .blog-suggestions {
    flex-direction: column;
  }
}
