@use "../../assets/scss/abstracts" as *;

.btn-blue-pink {
  @include btn-slide(
    $bg1: $primary-color,
    $bg2: $secondary-color,
    $txt1: #fff,
    $txt2: #fff
  );
}

.btn-pink-darkblue {
  @include btn-slide(
    $bg1: $secondary-color,
    $bg2: $clr-accent-darkblue,
    $txt1: #fff,
    $txt2: #fff
  );
}

.btn-white-blue {
  @include btn-slide(
    $bg1: #fff,
    $bg2: $primary-color,
    $txt1: $secondary-color,
    $txt2: #fff
  );
}

.btn-simple-blue {
  background-color: #fff;
  color: $clr-accent-darkblue;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10s rgba(0, 0, 0, 0.7);

  &.active,
  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

.btn-special-pink {
  @include btn-slide(#fff, $secondary-color, $secondary-color, #fff);
  border: 1px solid $secondary-color;
}
