@use "../../../styles/abstracts" as *;

.home-services {
  background-color: $clr-tiffany-blue;
  color: $clr-white;

  .container {
    @include flex($main: space-between);

    .home-services-text {
      flex-basis: 35%;
      @include flex(column);
      gap: 1rem;
      padding: 1rem;
    }

    .icons {
      flex-basis: 60%;
      @include grid(repeat(3, 1fr), 1rem);
      padding: 1rem;

      .icon {
        @include flex(column, center, center);
        background-color: $clr-white;
        color: $clr-tiffany-blue;
        border-radius: $rounded;
        gap: 1rem;
        padding: 1rem;
        cursor: pointer;
        transition: all 0.4s ease-in-out;

        :nth-child(1) {
          font-size: 3.5rem;
        }

        &:hover {
          color: $clr-tart-orange;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .home-services {
    .container {
      flex-direction: column;

      .icons {
        .icon {
          padding-block: 2rem;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .home-services {
    .container {
      .icons {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
