@use "../../../styles/abstracts" as *;

.career-positions {
  color: $clr-police-blue;
  @include flex(column, $cross: center);

  &-cards {
    @include grid;
    width: 100%;

    .career-positions-card {
      border-radius: $rounded;
      padding: 1rem;
      @include flex($main: space-between, $cross: center);
      box-shadow: 0px 0px 30px 0px rgba(24, 79, 104, 0.09);
    }

    @media (min-width: 700px) {
      @include grid(1fr 1fr, 2rem);
    }
  }
}
