$clr-alice-blue: #f1f8fc;
$clr-pastel-blue: #b5c5cc;
$clr-pastel-red: #f96869;
$clr-police-blue: #214e66;
$clr-tiffany-blue: #00bcbd;
$clr-tart-orange: #f84d4f;

$font-oswald: "Oswald", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

$rounded: 0.3rem;

// To access from javascript
:export {
  clr-alice-blue: $clr-alice-blue;
  clr-pastel-blue: $clr-pastel-blue;
  clr-pastel-red: $clr-pastel-red;
  clr-police-blue: $clr-police-blue;
  clr-tiffany-blue: $clr-tiffany-blue;
  clr-tart-orange: $clr-tart-orange;

  font-oswald: $font-oswald;
  font-open-sans: $font-open-sans;

  rounded: $rounded;
}
