@use "../../../assets/scss/abstracts" as *;

.home-testimonials {
  @include flex;

  &-img {
    flex-basis: 50%;
    position: relative;

    &-text {
      position: absolute;
      @include flex($main: space-between, $cross: center);
      width: 100%;
      background-color: rgba(black, 0.5);
      bottom: 10%;
      color: #fff;
      padding-left: 1rem;

      img {
        width: auto;
        position: absolute;
        right: 5%;
        border: 5px solid $secondary-color;
        border-radius: 50%;
        animation: play-button-animation 1.4s infinite;
      }
    }
  }

  &-text {
    flex-basis: 50%;
  }

  &-video {
    position: fixed;
    z-index: 10;
    inset: 0;
    @include flex(row, center, center);
    background-color: rgba($color: #000000, $alpha: 0.5);

    iframe {
      width: 40%;
      aspect-ratio: 16/9;
    }

    svg {
      cursor: pointer;
      margin-top: -15.5rem;
      margin-left: -1rem;
      font-size: 2rem;
      color: #fff;
    }

    &.false {
      display: none;
    }
  }
}

@keyframes play-button-animation {
  from {
    outline: 1px solid rgba($secondary-color, 1);
  }
  to {
    outline: 20px solid rgba($secondary-color, 0);
  }
} ;
