@use "../../../styles/abstracts" as *;

.home-testimonials {
  @include grid(1fr 1fr, 0);

  &-img {
    position: relative;
    background: url("../../../images/video-img.jpg") no-repeat;
    background-position: center center;
    background-size: cover;

    &-text {
      position: absolute;
      @include flex($main: space-between, $cross: center);
      width: 100%;
      background-color: rgba(black, 0.5);
      bottom: 10%;
      color: #fff;
      padding: 0.5rem 1rem;

      img {
        width: auto;
        position: absolute;
        right: 5%;
        border: 5px solid $clr-tart-orange;
        border-radius: 50%;
        animation: play-button-animation 1.4s infinite;
      }
    }
  }

  &-text {
    background-color: $clr-tiffany-blue;
    color: #fff;
    padding-block: 0.5rem;

    p {
      text-align: left;
      padding: 2rem;
    }

    h1 {
      text-align: center;
    }

    fieldset {
      border: 3px solid #fff;
      margin: 15px;

      legend {
        margin-left: 2rem;
        font-size: 2rem;
        padding-inline: 1rem;
      }
    }

    .testimonials {
      display: flex;

      &-text a {
        color: #fff;
        transition: color 0.3s ease-in-out;
      }
    }

    .patient-name {
      text-transform: uppercase;
      font-weight: bold;
    }

    .react-multi-carousel-dot {
      button {
        width: 1.5rem;
        height: 0.25rem;
        border: none;
        border-radius: 0;
        opacity: 0.5;
      }

      &--active button {
        opacity: 1;
        background-color: #fff;
      }
    }

    .all-testimonials {
      text-align: right;

      a {
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        transition: color 0.3s;

        &:hover {
          color: $clr-police-blue;
        }
      }
    }
  }

  &-video {
    position: fixed;
    z-index: 10;
    inset: 0;
    @include flex(row, center, center);
    background-color: rgba($color: #000000, $alpha: 0.5);

    .iframe-div {
      position: relative;
      min-width: 40%;
    }

    iframe {
      width: 100%;
      aspect-ratio: 16/9;
    }

    svg {
      cursor: pointer;
      position: absolute;
      top: -1rem;
      right: -1rem;
      font-size: 2rem;
      color: #fff;
      opacity: 0.5;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    &.false {
      display: none;
    }
  }

  @media (max-width: 700px) {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
}

@keyframes play-button-animation {
  from {
    outline: 1px solid rgba($clr-tart-orange, 1);
  }
  to {
    outline: 20px solid rgba($clr-tart-orange, 0);
  }
}
