@use "../abstracts" as *;

.career {
  .career-video {
    background-color: $clr-alice-blue;

    &-text {
      background-color: $clr-tart-orange;
      color: $clr-white;
      margin-top: -3rem;
      margin-bottom: 3.125rem;
      position: relative;
      border-radius: $rounded;
      padding: 3rem 12rem;
      text-align: center;
      @include flex(column, center, center);
      gap: 1rem;
    }

    &-cards {
      @include grid(repeat(3, 1fr));

      .career-video-card {
        text-align: center;

        .career-video-img {
          position: relative;

          .career-video-play {
            position: absolute;
            inset: 0;
            @include flex($main: center, $cross: center);
            cursor: pointer;
          }
        }

        h2 {
          color: $clr-tiffany-blue;
        }

        p {
          color: $clr-police-blue;
        }
      }
    }

    @media (max-width: 1000px) {
      &-text {
        padding: 3rem 6rem;
        margin-top: 3.125rem;
      }
    }

    @media (max-width: 576px) {
      &-cards {
        grid-template-columns: auto;
      }
    }
  }

  .career-life {
    color: $clr-police-blue;

    h2 {
      margin-inline: auto;
      width: fit-content;
      margin-bottom: 2rem;
    }

    &-cards {
      @include grid(repeat(3, 1fr));

      .career-life-card {
        @include flex(column);
        gap: 0.5rem;

        svg {
          font-size: 3.5rem;
          color: $clr-tiffany-blue;
        }
        img {
          max-width: 4rem;
          filter: invert(58%) sepia(84%) saturate(3064%) hue-rotate(142deg)
            brightness(97%) contrast(101%);
        }
      }
    }

    @media (max-width: 1000px) {
      &-cards {
        @include grid(repeat(2, 1fr));
      }
    }

    @media (max-width: 576px) {
      &-cards {
        @include grid(auto);
      }
    }
  }

  .career-slider {
    .react-multi-carousel-dot {
      margin-bottom: 1rem;

      button {
        background: transparent;
        width: 1rem;
        height: 1rem;
        border: 3px solid $clr-white;
        border-radius: 50%;
      }

      &--active button {
        background-color: $clr-white;
      }
    }
  }

  .career-testimonials {
    background-color: $clr-tiffany-blue;
    color: $clr-white;
    margin-top: 1rem;
    padding-block: 0.5rem;

    p {
      text-align: left;
      padding: 2rem;
    }

    h1 {
      text-align: center;
    }

    fieldset {
      border: 3px solid $clr-white;
      margin: 15px;

      legend {
        margin-left: 2rem;
        font-size: 2rem;
        padding-inline: 1rem;
      }
    }

    .testimonials {
      display: flex;

      &-text a {
        color: $clr-white;
        transition: color 0.3s ease-in-out;
      }

      @media (max-width: 1000px) {
        flex-direction: column;
      }
    }

    .patient-name {
      text-transform: uppercase;
      font-weight: bold;
    }

    .react-multi-carousel-dot {
      button {
        width: 1.5rem;
        height: 0.25rem;
        border: none;
        border-radius: 0;
        opacity: 0.5;
      }

      &--active button {
        opacity: 1;
        background-color: $clr-white;
      }
    }
  }

  .career-positions {
    color: $clr-police-blue;
    @include flex(column, $cross: center);

    &-cards {
      @include grid;
      width: 100%;

      .career-positions-card {
        border-radius: $rounded;
        padding: 1rem;
        @include flex($main: space-between, $cross: center);
        box-shadow: 0px 0px 30px 0px rgba(24, 79, 104, 0.09);
      }

      @media (min-width: 700px) {
        @include grid(1fr 1fr, 2rem);
      }
    }
  }
}
