@use "../abstracts/" as *;

.login {
  @include flex(row, center, center);
  min-height: 100vh;
  background-color: darken($clr-alice-blue, 15%);

  .login-form {
    padding: 1rem;
    background-color: $clr-white;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    max-width: 576px;
    padding-block: 5rem;
    padding-inline: 2rem;
    border-radius: $rounded;
    @include flex(column);
    flex-grow: 1;

    img {
      background-color: $clr-white;
      width: max-content;
      max-width: 100%;
      padding: 0.25rem;
      margin-bottom: 2rem;
    }

    input {
      margin-bottom: 1rem;
    }
  }
}
