@use "../abstracts/" as *;

.register {
  @include flex(column, center, center);
  min-height: 100vh;
  background-color: darken($clr-alice-blue, 15%);

  .register-form {
    background-color: $clr-white;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: $rounded;
    @include flex(column, $gap: 2rem);

    img {
      width: max-content;
      max-width: 100%;
    }

    .separator {
      background-color: $clr-pastel-blue;
      margin-block: 0.5rem;
    }

    .register-input {
      @include flex(column, $gap: 0.25rem);
    }

    .register-buttons {
      @include flex(row, center, center);
    }
  }
}
