@use "../abstracts" as *;

.services {
  .services-content {
    padding-block: 50px;
    background-color: $clr-alice-blue;

    .services-content-heading {
      color: $clr-police-blue;
      text-align: center;
    }

    .services-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      color: $clr-tiffany-blue;
      font-weight: bold;
      padding: 1rem;
      gap: 1rem;

      .services-card {
        background-color: $clr-white;
        transition: transform 0.4s ease-in-out;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        a {
          padding: 2rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .appointment {
    background: url("../../images/heart-img.png") no-repeat;
    background-position: right center;
    background-color: $clr-tart-orange;

    .container {
      margin-block: 0;
      padding: 2rem 3rem;
      @include flex(column, $cross: center);
    }

    ::placeholder {
      color: white;
      opacity: 1;
    }

    .appointment-form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;

      button {
        grid-column: 1/3;
        margin-inline: auto;
      }
    }

    .appointment-form > input,
    .appointment-form > select {
      background-color: #f96869;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      margin: 10px;
      padding: 1rem;
    }

    .appointment-label {
      color: white;
      padding-right: 50px;
      font-family: Oswald, sans-serif;
      font-size: 2.4rem;
      text-transform: uppercase;
      /* width: min-content; */
      text-align: center;
    }

    @media (max-width: 1000px) {
      margin-block: 50px;
      flex-direction: column;
      align-items: flex-start;

      .appointment-form {
        grid-template-columns: auto;
      }
    }
  }

  .testimonials-section {
    background-color: $clr-tiffany-blue;
    color: $clr-white;
    margin-top: 1rem;
    padding-block: 0.5rem;

    p {
      text-align: left;
      padding: 2rem;
    }

    h1 {
      text-align: center;
    }

    fieldset {
      border: 3px solid $clr-white;
      margin: 15px;

      legend {
        margin-left: 2rem;
        font-size: 2rem;
        padding-inline: 1rem;
      }
    }

    .testimonials {
      display: flex;

      &-text a {
        color: $clr-white;
        transition: color 0.3s ease-in-out;
      }

      @media (max-width: 1000px) {
        flex-direction: column;
      }
    }

    .patient-name {
      text-transform: uppercase;
      font-weight: bold;
    }

    .react-multi-carousel-dot {
      button {
        width: 1.5rem;
        height: 0.25rem;
        border: none;
        border-radius: 0;
        opacity: 0.5;
      }

      &--active button {
        opacity: 1;
        background-color: $clr-white;
      }
    }
  }
}
