@use "../../../assets/scss/abstracts" as *;

.home-location {
  background: url("../../../assets/images/location-bg.jpg") no-repeat;
  background-position: center;
  @include flex(column, center, center);
  color: $clr-accent-darkblue;
  gap: 1rem;
  min-height: 40vh;
}
