@use "../../styles/abstracts" as *;

.testimonials {
  &-video {
    padding-block: 3.125rem;
    @include grid;

    &-card {
      &-img {
        position: relative;

        > img {
          width: 100%;
        }

        .testimonials-video-play {
          position: absolute;
          inset: 0;
          @include flex($main: center, $cross: center);
          cursor: pointer;
        }
      }

      p {
        color: $clr-tiffany-blue;

        span {
          text-transform: uppercase;
          font-family: "Oswald", sans-serif;
        }
      }
    }

    @media (min-width: 576px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  > .container {
    margin-top: -3rem;
    position: relative;
  }

  .all-testimonials {
    background-color: $clr-alice-blue;
    padding-block: 3.125rem;

    .container {
      @include grid;
      margin-block: 0;

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
