@use "../../../assets/scss/abstracts" as *;

.about-content {
  position: relative;
  background-color: $secondary-color;
  color: #fff;
  margin-top: -2.5rem;
  @include flex(column, center, center);
  gap: 1.5rem;
  padding: 3rem;
  text-align: center;
  border-radius: $rounded;
}

@media (max-width: 700px) {
  .about {
    .about-content {
      margin-top: 3.125rem;
    }
  }
}
