@use "../../../styles/abstracts" as *;

.hero {
  img {
    width: 100%;
  }

  .hero-img {
    position: relative;

    .hero-img-text {
      position: absolute;
      inset: 0;
      @include flex(column, center, center);
      gap: 1rem;
      margin-inline: 10vw;
      color: #fff;

      p {
        background-color: rgba($primary-color, 0.7);
        padding: 0.5rem 1.5rem;
      }
    }
  }

  .react-multiple-carousel__arrow {
    height: 100%;
    width: 10vw;
    max-width: 10rem;
    border: none;
    border-radius: 0;
    background-color: transparent;
    opacity: 0.5;
    font-weight: 900;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &:hover {
      opacity: 1;
    }
  }
}
