@use "../../assets/scss/abstracts" as *;

.experts {
  text-align: center;
  color: $clr-accent-darkblue;

  > * {
    margin-block: 1rem;
  }

  .expert-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .expert {
      img:hover + .slide > div {
        transform: translateY(-70px);
        overflow: visible;
      }

      .slide {
        background-color: $clr-accent-grey;

        div {
          height: 3.75rem;
          overflow: hidden;
          transition: all 0.6s;
          background-color: $clr-accent-grey;

          &:hover {
            transform: translateY(-70px);
            overflow: visible;
          }
        }

        p {
          color: $secondary-color;
        }

        .btn {
          @include btn-slide($clr-accent-darkblue, $primary-color);
        }
      }
    }
  }

  .btn {
    @include btn-slide($primary-color, $secondary-color);
  }
}

@media (max-width: 576px) {
  .experts {
    .expert-list {
      grid-template-columns: auto;
    }
  }
}
